* {
	font-family: 'Museo Sans', sans-serif;
}
@import "base/variables";
@import "base/mixins";

@import "blocks/promo";
@import "blocks/header";
@import "blocks/advantages";
@import "blocks/buttons";

.container {
	max-width: 950px;
	margin: 0 auto;
}